/* Write GOOD comments so that next developer ( killer psycopath who knows where you stay ) ... */
/* .... who is going to maintain this code; need NOT have to get back to you */

/* Use Required Google Font with Weights */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;500;700&display=swap");

/* Universal Selector & explicitly set box-sizing type */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  everything applicable to or can be used for all elements */
/* color palette */
:root {
  --bg-color: hsl(212, 45%, 89%);
  --card-bg-color: hsl(0, 0%, 100%);
  --card-title-color: hsl(218, 44%, 22%);
  --card-content-color: hsl(220, 15%, 55%);
  --min-width: 30rem;

  --ff-primary: "League Spartan", sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
}

body {
  background-image: url("../images/bg-pattern-top-mobile.svg"),
    url("../images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left, right bottom -0.3125rem;
}

/* parent grid wrapper */
/* Mobile 1st design approach */
.main {
  display: grid;
  grid-template-columns: 1fr; /* For mobile view only single column is enough per design as each of the items stack on each other */
  grid-auto-rows: minmax(6.25rem, auto); /* 6.25rem ?? */
  max-width: 60rem; /* ?? */
  margin: 0 1.5625rem;
  gap: 0.3125rem;
  grid-template-areas:
    "title-card"
    "users-rating-cards"
    "user-reviews";
}

/* -------------------- */
/* child 1 grid wrapper */
/* -------------------- */
.title-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(1.25rem, auto); /* 6.25rem ?? */
  max-width: 60rem; /* ?? */
  margin: 0 auto;
  padding: 1.25rem 2.5rem 0rem 2.5rem;
  gap: 0.625rem;
  grid-template-areas:
    "title-card__header"
    "title-card__info";
}

.title-card__header {
  /* justify-self: center; */
  text-align: center;
  margin: 2.5rem 0.3125rem 1.25rem 0.3125rem;
  font-size: 2.2em;
  font-weight: var(--fw-700);
  color: hsl(300, 43%, 22%);
}

.title-card__info {
  text-align: center;
  color: hsl(303, 10%, 53%);
  font: var(--ff-primary);
  font-size: 1em;
  font-weight: var(--fw-500);
  line-height: 1.25em;
  /* place-self: center; */
  /* margin: 0 auto; */
}

/* Desktop 2nd design approach */
@media screen and (min-width: 30rem) {
  body {
    background-size: 0 0;
  }
  .main {
    display: grid;
    grid-template-columns: 26.25rem 23.75rem;
    grid-auto-rows: minmax(6.25rem, auto); /* 6.25rem ?? */
    max-width: 63.75rem; /* ?? */
    margin: 3.75rem auto;
    padding-left: 8.75rem;
    padding-bottom: 2.5rem;
    gap: 0.3125rem;
    grid-template-areas:
      "title-card users-rating-cards"
      "user-reviews user-reviews";
    background-image: url("../images/bg-pattern-top-desktop.svg"),
      url("../images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
    background-position: top left -2.5rem, right -15.625rem bottom;
  }

  .title-card {
    padding: 0rem;
  }

  .title-card__header {
    text-align: start;
    padding-right: 7.5rem;
    font: var(--ff-primary);
    font-weight: var(--fw-700);
    font-size: 2.2em;
    line-height: 1em;
    margin-bottom: 0;
  }

  .title-card__info {
    font: var(--ff-primary);
    line-height: 1.4em;
    text-align: start;
    padding-right: 4.375rem;
    font-size: 0.9em;
  }

  .user-rating-card__star {
    object-fit: cover;
    width: 100%;
    height: 0.8125rem;
    margin-right: 0.3125rem;
  }
}

/* -------------------- */
/* child 2 grid wrapper */
/* -------------------- */

/* Mobile 1st Design */
.users-rating-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(3.125rem, auto); /* ?? minmax , 3.125rem ?? */
  gap: 1.25rem;
  max-width: 60rem; /* ?? */
  grid-template-areas:
    "user-rating-card-1"
    "user-rating-card-2"
    "user-rating-card-3";
  margin: 1.25rem 0;
}

.user-rating-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(1.25rem, auto);
  max-width: 60rem; /* ?? */
  background-color: hsl(300, 24%, 96%);
  gap: 0.625rem;
  grid-template-areas:
    "user-rating-card__rating"
    "user-rating-card__review-description";
  /* border: 0.0625rem solid black; */
  border-radius: 0.9375rem;
  padding: 0.625rem 0;
}

.user-rating-card__rating {
  justify-self: center;
  margin: 0.625rem auto 0 auto;
}

.user-rating-card__review-description {
  justify-self: center;
  margin: 0 auto 0.625rem auto;
  font: var(--ff-primary);
  font-size: 0.9375rem;
  font-weight: var(--fw-700);
  color: hsl(300, 43%, 22%);
}

/* Desktop 2nd Design */
/* Do changes needed only for desktop below */
@media screen and (min-width: 30rem) {
  .users-rating-cards {
    grid-auto-rows: minmax(1.5625rem, auto);
    gap: 0.9375rem;
    margin-top: 5.3125rem;
  }

  .user-rating-card {
    padding: 0.625rem 1.25rem 0.625rem 0;
    display: grid;
    max-width: 19.375rem; /* decide container size to accomodate child elements */
    grid-template-columns: 7.5rem 11.25rem; /* as per design decide column width */
    grid-template-areas: "user-rating-card__rating user-rating-card__review-description";
    gap: 0.625rem;
    border-radius: 0.3125rem;
  }

  .user-rating-card-1 {
    justify-self: start;
    align-self: center;
  }

  .user-rating-card-2 {
    justify-self: center;
    align-self: center;
  }

  .user-rating-card-3 {
    justify-self: end;
    align-self: center;
  }

  .user-rating-card__rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-left: 1.25rem;
  }

  .user-rating-card__review-description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font: var(--ff-primary);
    font-weight: var(--fw-700);
    font-size: 0.8em;
  }
}

/* ------------------------------------------------------------ */
/*                      3rd grid wrapper */
/* ------------------------------------------------------------ */

.user-reviews {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(6.25rem, auto);
  max-width: 60rem;
  margin: 0 auto 5.625rem auto;
  gap: 0.9375rem;
  grid-template-areas:
    "user-review-card-1"
    "user-review-card-2"
    "user-review-card-3";
}

/* child 3 grid wrapper */
.user-review-card {
  display: grid;
  grid-template-columns: 0.7fr 2fr;
  grid-auto-rows: minmax(0.625rem, auto);
  gap: 1.25rem;
  max-width: 60rem;
  padding: 2.1875rem;
  background-color: hsl(300, 43%, 22%);
  border-radius: 0.9375rem;
  grid-template-areas:
    "user-review-card__img user-review-card__name"
    "user-review-card__img user-review-card__status"
    "user-review-card__review user-review-card__review";
}

.user-review-card__img {
  border-radius: 50%;
  justify-self: start;
  width: 3.75rem;
  height: 3.75rem;
}

.user-review-card__name {
  align-self: center;
  color: hsl(0, 0%, 100%);
}

.user-review-card__status {
  align-self: center;
  color: hsl(333, 80%, 67%);
}

.user-review-card__review {
  font: var(--ff-primary);
  font-size: 0.9375rem;
  word-spacing: 0.2em;
  /* margin-top: 1.25rem; */
  line-height: 1.3em;
  color: hsl(0, 0%, 100%);
  font-weight: var(--fw-500);
  padding: 0 1.875rem 0 0;
}

@media screen and (min-width: 30rem) {
  .user-reviews {
    display: grid;
    /* 3 child items */
    grid-template-columns: repeat(3, 1fr);

    /* min value decides placement of grid items*/
    grid-auto-rows: minmax(13.4375rem, auto);
    max-width: 60rem;
    margin: 1.875rem auto;
    gap: 1.5625rem;
    grid-template-areas: "user-review-card-1 user-review-card-2 user-review-card-3";
  }

  .user-review-card {
    padding: 1.25rem;
    gap: 0.625rem;
  }

  .user-review-card__name {
    font-size: 0.8em;
  }

  .user-review-card__status {
    font-size: 0.8em;
  }

  .user-review-card__review {
    font: var(--ff-primary);
    font-size: 0.8em;
    line-height: 1.3em;
    padding: 0;
    word-spacing: 0;
    margin: 0;
  }

  .user-review-card-1 {
    align-self: start;
  }

  .user-review-card-2 {
    align-self: center;
  }

  .user-review-card-3 {
    align-self: end;
  }
}

/* ------------------------------------------------------ */
/*                  grid area names                       */
/* ------------------------------------------------------ */

.title-card {
  grid-area: title-card;
  /* debugging purpose only */
  /* border: 0.0625rem solid red; */
}

.users-rating-cards {
  grid-area: users-rating-cards;
  /* debugging purpose only */
  /* border: 0.0625rem solid rgb(8, 0, 255); */
}

.user-reviews {
  grid-area: user-reviews;
  /* debugging purpose only */
  /* border: 0.1875rem dotted rgb(255, 0, 200); */
}

.user-review-card-1 {
  grid-area: user-review-card-1;
  /* border: 0.0625rem solid rgb(0, 255, 115); */
}

.user-review-card-2 {
  grid-area: user-review-card-2;
  /* border: 0.0625rem solid rgb(3, 35, 18); */
}

.user-review-card-3 {
  grid-area: user-review-card-3;
  /* border: 0.0625rem solid rgb(255, 77, 0); */
}

.user-rating-card {
  grid-area: user-rating-card;
}

.user-rating-card__rating {
  grid-area: user-rating-card__rating;
}

.user-rating-card__review-description {
  grid-area: user-rating-card__review-description;
}

.user-rating-card-1 {
  grid-area: user-rating-card-1;
}

.user-rating-card-2 {
  grid-area: user-rating-card-2;
}

.user-rating-card-3 {
  grid-area: user-rating-card-3;
}

.title-card__header {
  grid-area: title-card__header;
}

.title-card__info {
  grid-area: title-card__info;
}

/*  */
.user-review-card__img {
  grid-area: user-review-card__img;
}

.user-review-card__name {
  grid-area: user-review-card__name;
}

.user-review-card__status {
  grid-area: user-review-card__status;
}

.user-review-card__review {
  grid-area: user-review-card__review;
}

/*
1. display grid to main container
2. assign name to each of the grid elements
3. place grid elements with grid area template property
4. decide number of columns based on desktop design itself
*/
